mixin fn(name, signature, description)
  div.fn
    div.signature(id=name)
      span.name
        a.section-anchor(href='#' + name) ยง
        =name
      span.type= signature
    block

mixin h3-section(name)
  h3(id=name)
    a.section-anchor(href='#' + name) ยง
    =name

mixin method(name, signature)
  div.method
    span.name= name
    span : #{signature}

mixin description
  div.description
    :markdown-it= block

mixin example
  pre
    code.language-javascript
      block